<div class="landing">
  <div class="first">
    <h1>
      Welcome to the best oneline store for consumer electronics. We garantee you lowest prices and the best shopping expirience.
    </h1>
    <button mat-raised-button>Learn more!</button>
  </div>
  <div class="second">
      <h1>
        Welcome to the best oneline store for consumer electronics. We garantee you lowest prices and the best shopping expirience.
      </h1>
      <button mat-raised-button>Learn more!</button>
    </div>
</div>
