<mat-toolbar class="navbar">
    <h1>Web Store</h1>
    <div>

        <a mat-button routerLink="">
            <h4>Home</h4>
        </a>
        <a mat-button routerLink="Store">
            <h4>Store</h4>
        </a>
        <a mat-button routerLink=".">
            <h4>About</h4>
        </a>

        <span *ngIf="isLoggedOut$ | async">
            <a mat-flat-button color="accent" routerLink="Register">Register</a>
            <a mat-button routerLink="Login">Log in</a>
        </span>

        <a mat-flat-button color="primary" (click)='logout()' *ngIf="isLoggedIn$ | async">Logout</a>

    </div>
</mat-toolbar>